<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (Member) { %>
        <form class="add-member-form" action="" method="post">
                
				<div class="form-group col-md-4">
                    <label for="member-id">Member Id</label>
                    <input type="text" class="form-control" name="member_id" id="member-id" value="<%= Member.MemberId %>" required>
                </div>

                <div class="form-group col-md-4">
                    <label for="member-name">Member Name</label>
                    <input type="text" class="form-control" name="member_name" id="member-name" value="<%= Member.MemberName %>" required>
                </div>

                <div class="form-group col-md-4">
                    <label for="member-ssn">Member SSN</label>
                    <input type="text" class="form-control" name="member_ssn" id="member-ssn" value="<%= Member.MemberSsn %>" required>
                </div>

				<div class="form-group col-md-4">
                    <label for="member-details">Member Details</label>
                    <input type="text" class="form-control" name="member_details" id="member-details" value="<%= Member.MemberDetails %>" required>
                </div>

            <button type="submit" class="btn btn-success float-right">Update Member</button>

        </form>
    <% } else { %>
        <p class="text-center">Member Not Found. Go <a href="/add">here</a> to add member.</p>
    <% } %>
</div>
</div>
</body>
</html>